<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Backpackr.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB671AE9239BC561001DACCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB671AFF239BC562001DACCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB671B0A239BC562001DACCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
